/*
 * General
 */
.forum_heading {
    font-weight: bold;
    font-size: 1.2em;
}
.forum_details {
    font-size: 85%;
    font-style: italic;
}
.forum_navlink {
    text-align: right;
    margin: 0.5em 0 0 0;
    font-weight: bold;
}

/*
 * All topics
 */
.forum_topics {
    list-style: none;
    margin: 0;
    padding: 0;
}
.forum_topics > div {
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #888;
}
.forum_topics .forum_title {
    font-weight: bold;
    margin: 0.5em 0;
}

/*
 * Single topic
 */
.forum_topic {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    word-wrap: break-word;
}
.forum_topic > div {
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #888;
}
.forum_comment {
    margin-top: 0.5em;
}
.forum_comment img {
    max-width: 100%;
}
.forum_edit {
    float: right;
}
.forum_edit img {
    border: none;
}
.forum_delete {
    float: right;
    margin-left: 0.5em;
}
.forum_quote {
    margin-left: 0;
    border-left: 3px solid #888;
    padding-left: 1em;
}
.forum_code {
    border: 1px solid #888;
    overflow-x: auto;
}

/*
 * Comment form
 */
.forum_comment {
    margin: 1em 0;
}
.forum_comment .forum_title {
    margin-bottom: 1em;
}
.forum_comment .forum_title label {
    padding-right: 1em;
}
.forum_comment .forum_title input {
    width: 30em;
}
.forum_editor {
    position: relative;
}
.forum_emoticons,
.forum_font_sizes {
    display: none;
    position: absolute;
    z-index: 1;
}
.forum_comment textarea {
    display: block;
    width: 100%;
    padding: 0;
}
.forum_comment .forum_submit {
    text-align: center;
}
.forum_comment .forum_submit .submit {
    padding: 0.2em 1em;
}

/**
 * Plugin info
 */
.forum_logo {
    float: left;
    margin: 0.5em 1.5em 0.5em 0;
}
.forum_license {
    text-align: justify;
}
.forum_syscheck {}
