parameters:
  level: 6
  paths:
    - classes/
    - index.php
  bootstrapFiles:
    - phpstan.bootstrap.php
  scanFiles:
    - ../../cmsimple/classes/CSRFProtection.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
    - ../fa/classes/RequireCommand.php
