<!-- Forum_XH: comment form -->
<form class="forum_comment" action="<?php echo $action;?>" method="post" accept-charset="UTF-8" onsubmit="return Forum.validate()">
    <?php echo $this->getCSRFProtector()->tokenInput()?>
    <?php $this->getCSRFProtector()->store()?>
<?php if ($newTopic):?>
    <h6 class="forum_heading" id="<?php echo $labels['anchor'];?>"><?php echo $labels['heading'];?></h6>
    <div class="forum_title">
        <label for="forum_title"><?php echo $labels['title'];?></label>
	<input type="text" id="forum_title" name="forum_title" />
    </div>
<?php else:?>
    <h6 class="forum_heading" id="<?php echo $labels['anchor'];?>"><?php echo $labels['heading'];?></h6>
    <input type="hidden" name="forum_topic" value="<?php echo $tid;?>" />
    <input type="hidden" name="forum_comment" value="<?php echo $cid;?>" />
<?php endif;?>
    <textarea name="forum_text" cols="80" rows="10"><?php echo $comment;?></textarea>
    <div class="forum_submit">
        <input type="submit" class="submit" value="<?php echo $labels['submit'];?>" />
    </div>
</form>
<?php if ($newTopic):?>
<div class="forum_navlink">
    <a href="<?php echo $overviewUrl;?>"><?php echo $labels['back'];?></a>
</div>
<?php endif;?>
