<?php if ($cf['xhtml']['endtags'] == 'true'):?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php else:?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<?php endif;?>
    <head>
        <link rel="stylesheet" href="<?php echo $templateStylesheet;?>" type="text/css" />
        <link rel="stylesheet" href="<?php echo $forumStylesheet;?>" type="text/css" />
    </head>
    <body>
        <?php echo $comment;?>
    </body>
</html>
