<!-- Forum_XH: Topic -->
<h6 class="forum_heading"><?php echo $label['title'];?></h6>
<ul class="forum_topic">
<?php foreach ($topic as $cid => $comment):?>
    <li class="<?php echo $comment['class'];?>">
<?php if ($comment['mayDelete']):?>
        <form class="forum_delete" action="." method="POST"
              onsubmit="return confirm(&quot;<?php echo $label['confirmDelete'];?>&quot;)">
            <input type="hidden" name="selected" value="<?php echo $su;?>" />
	    <input type="hidden" name="forum_actn" value="delete" />
	    <input type="hidden" name="forum_topic" value="<?php echo $tid;?>" />
	    <input type="hidden" name="forum_comment" value="<?php echo $cid;?>" />
	    <input type="image" src="<?php echo $deleteImg;?>"
                   alt="<?php echo $label['delete'];?>" title="<?php echo $label['delete'];?>" />
	</form>
<?php endif;?>
        <div class="forum_details"><?php echo $comment['details'];?></div>
	<div class="forum_comment"><?php echo $comment['comment'];?></div>
    </li>
<?php endforeach;?>
</ul>
<?php if ($isUser):?>
    <?php echo $commentForm;?>
<?php endif;?>
<div class="forum_navlink">
    <a href="<?php echo $href;?>"><?php echo $label['back'];?></a>
</div>
<?php echo $poweredBy;?>
